<%- include('../partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Name</strong>: <%= teacher.name %></p>
              <p><strong>Email</strong>: <%= teacher.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
    <div class="row justify-content-center mt-5">
      <!-- show the student's name -->
        <!-- lesson plans -->
      <ul class="row list-unstyled">
        <% for(var i=0; i<students.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/student/<%= students[i]._id%>"><% students[i].name %></a>
          </li>
        <% } %>
        </ul>
  </div>  
  <!-- add a new lesson plan -->
  <!-- this should be a button only -->
   <div class="mt-5">
            <h2>Add a new lesson</h2>
            <form action="/post/createLessonPlan" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Lesson Content</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
</div>
<%- include('../partials/footer') -%>